:root {
  --blue-gray: #363b4e;
  --deep-purple: #4f3b78;
  --lavender: #927fbf;
  --lilac: #c4bbf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--lilac);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  padding: 20px;
  background-color: var(--blue-gray);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 20px;
}

header nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-weight: 550;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin-left: 25px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

figure img {
  height: auto;
  max-width: 20%;
  display: block;
  margin: 3% auto;
}

section.content {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border: 5px solid var(--lavender);
  box-shadow: 5px 10px var(--deep-purple);
  background-color: var(--lavender);
}

section.content:hover {
  box-shadow: inset 0px 0px 8px var(--lilac), 0 0 15px var(--deep-purple);
}

article.information {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.content .deployed a {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;
}

.content .deployed a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.resume-graphic {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--blue-gray);
  color: white;
  width: 100%;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  body,
  header,
  section.content,
  .deployed a {
    flex-direction: column;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}
